<ion-view view-title="หน้าหลัก">
    <ion-content class="card-background-page">
        <a class="item item-avatar-left">
            <img src="img/avatar.png">
            <h2>Lee Hoo</h2>
            <p>ID : 0123456789</p>
            <p>Zone : A</p>
        </a>
        <br/>
        <div class="row">
            <div class="col"></div>
            <div class="col col-33">
                <button class="button button-outline button-positive">
                    <img style="margin-top:10px" width="40%" src="img/002-delivery-truck.png"><br/>ส่งของ<br/>
                </button>
            </div>
            <div class="col"></div>
            <div class="col col-33">
                <button class="button button-outline button-positive">
                    <img style="margin-top:10px" width="40%" src="img/005-buildings.png"><br/>สินค้าคงคลัง<br/>
                </button>
            </div>
            <div class="col"></div>
        </div>
        <br/>
        <div class="row">
            <div class="col"></div>
            <div class="col col-33">
                <button class="button button-outline button-positive">
                    <img style="margin-top:10px" width="40%" src="img/003-fuel.png"><br/>น้ำมันเชื้อเพลิง<br/>
                </button>
            </div>
            <div class="col"></div>
            <div class="col col-33">
                <button class="button button-outline button-positive">
                    <img style="margin-top:10px" width="40%" src="img/004-settings.png"><br/>ข้อมูลส่วนตัว<br/>
                </button>
            </div>
            <div class="col"></div>
        </div>
    </ion-content>
</ion-view>
