<ion-view view-title="Dashboard">
    <ion-content>
        <div class="list list-inset">
            <a class="item item-thumbnail-left">
                <img src="img/avatar.png">
                <h2>Lee Hoo</h2>
                <p>ID : 0123456789</p>
                <p>Zone : A</p>
            </a>
        </div>
        <div class="row">
            <div class="col col-50 text-center">
                <button class="button button-outline button-block button-large button-positive">
                    <br/>ส่งของ<br/><br/>
                </button>
            </div>
            <div class="col col-50 text-center">
                <button class="button button-outline button-block button-large button-positive">
                    <br/>Stock<br/><br/>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col col-50 text-center">
                <button class="button button-outline button-block button-large button-positive">
                    <br/>น้ำมันเชื้อเพลิง<br/><br/>
                </button>
            </div>
            <div class="col col-50 text-center">
                <button class="button button-outline button-block button-large button-positive">
                    <br/>ข้อมูลส่วนตัว<br/><br/>
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
